body{
	background-color: #e8e8e8;
	font-family: "Raleway", sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

header{
	background-color: #fb0;
	padding: 8px;
}

header .container{
	max-width: 1024px;
	margin: 0 auto;
}

.white-card{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 45px auto;
	padding: 10px;
	width: 30%;
}
 
input[type="checkbox"]{
	display: inline-block;
	border: 1px solid gray;
	margin-right: 10px;
	height: 10px;
	width: 10px;
}

#input-item{
	padding: 10px;
	width: 95%;
	outline: none;
}

.todo button{
	float: right;
}